@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Aplicar la fuente globalmente */
body {
    font-family: "Cormorant Garamond", serif;
    font-size: 25px; /* Tamaño de fuente ajustado */
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #38d39f;
    padding: 20px;
    color: white;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
}

#nosotros, #equipo {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.miembro {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: left;
}

.miembro img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

footer {
    background-color: #38d39f;
    padding: 20px;
    color: white;
    text-align: center;
}

button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.img-pequena {
    width: 200px; /* Cambia este valor al ancho deseado */
    height: auto; /* Esto mantendrá la proporción original */
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
